.container {
  margin: 0 auto;
  max-width: 960px;
}

.guide {
  margin: 10px;
  font-size: 14px;
}

.titleLink {
  display: inline-block;
  color: rgb(238, 238, 238);
  text-decoration: none;
  margin: 0 10px;
  border-radius: 6px;
  border: 1px solid grey;
  padding: 10px;
}

.titleLink:link,
.titleLink:visited {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

.titleLink:hover,
.titleLink:focus,
.titleLink:active {
  color: #403f3f;
  text-decoration: none;
  background-color: rgb(238, 238, 238);
}

@media (max-width: 480px) {
  .titleLink {
    display: block;
    margin: 10px;
  }
}