.time {
  font-size: 32px;
  line-height: 1.4em;
}

.date {
  font-size: 24px;
  line-height: 1.4em;
}

.timeGroup {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 220px;
  vertical-align: top;
}

.namedOffset {
  font-size: 16px;
}

.dayDiffMessage {
  font-size: 20px;
  font-weight: bold;
}