.mainContainer {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0;
  padding: 10px;
  min-height: 161px;
}

.inputContainer input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #868686;
  caret-color: #EEEEEE;
  color: #EEEEEE;
  margin: 0 0 6px 0;
  border-radius: 0;
}

.mainContainer select {
  font-size: 16px;
  background-color: #3d3d3d;
  color: #EEEEEE;
  border-radius: 4px;
}

.deleteButton {
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  color: #EEEEEE;
  background-color: #4a4a4a;
  border-width: 1px;
  border-color: #626161;
  cursor: pointer;
}

.toggleOptions {
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  position: relative;
  width: 195px;
  height: 161px;
}

.plusSymbol {
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 13px);
  display: inline-block;
}

@media (max-width: 400px) {
  .mainContainer select {
    width: 160px;
  }
}