.timeNow {
  font-size: 40px;
  line-height: 1.4em;
}

.dateNow {
  font-size: 24px;
  line-height: 1.4em;
}

.mainTimeGroup {
  padding: 10px 0;
}

.namedOffsetNow {
  font-size: 16px;
}

.dayDiffMessage {
  font-size: 20px;
  font-weight: bold;
}