.timeNow {
  font-size: 40px;
  line-height: 1.4em;
}

.dateNow {
  font-size: 24px;
  line-height: 1.4em;
}

.time {
  font-size: 32px;
  line-height: 1.4em;
}

.date {
  font-size: 24px;
  line-height: 1.4em;
}

.timeGroup {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 220px;
  vertical-align: top;
}

.mainTimeGroup {
  margin: 20px 0;
  padding: 10px;
}

.namedOffset,
.namedOffsetNow {
  font-size: 16px;
}